{# Main menu of the site #} {% load static i18n %}

<nav class="main-menu">
    <ul class="main-menu__links">
        <li class="main-menu__link">
            <a href="{% url 'front' %}" title="{% trans 'Volver a la página de inicio' %}">
                {% trans 'Home' %}
            </a>
        </li>
        <li class="main-menu__link">
            <a href="{% url 'front' %}" title="{% trans 'Acerca de WWB' %}">
                {% trans 'About' %}
            </a>
        </li>
        <li class="main-menu__link">
            <a href="{% url 'front' %}" title="{% trans 'Ver nuestros proyectos' %}">
                {% trans 'Projects' %}
            </a>
        </li>
    </ul>
</nav>
