{# About page #} {% extends 'layouts/single-fluid-column.html' %} {% load static utils i18n %}

{% block body_classes %}about{% endblock %}
{% block html_title %}{% trans 'Acerca' as page_title %} {{ page_title }} | {% endblock %}

{% block main %}
    {% trans 'Acerca' as page_title %}
    {% include 'pages/title.html' with title=page_title %}
    {% blocktrans trimmed %}
    WWB es una cooperativa andaluza que trabaja con estándares abiertos y
    herramientas de software y hardware libre, en proyectos tecnológicos y de
    gestión y producción cultural.
    {% endblocktrans %}
{% endblock %}
