{# Modelform generic page #} {% extends 'layouts/single-fluid-column.html' %} {% load i18n %}

{% block body_classes %}modelform--{{ form__html_class }}{% endblock %}
{% block html_title %}{{ title }} | {% endblock %}

{% block main %}
    {% include 'pages/title.html' with title=title %}
    {% include 'forms/form.html' with form_class=form__html_class action_class=form__action_class images=images %}
{% endblock %}

{% block page_scripts %}
    {{ form.media }}
    <script type="text/javascript">
        $('.form-images__item').formset({
          addText: 'Añade otra imagen',
          deleteText: 'remove',
          prefix: 'familymember_set'
      });
    </script>
{% endblock %}
