// Common styles

@import compass/css3/animation
@import compass/css3/transform
@import compass/css3/opacity

=link_nocolors
  color: inherit
  &:link, &:visited, &:hover, &:active
    color: inherit
=links_nocolors
  a
    +link_nocolors

// Hamburguer icon (for navigations)
=hamburguer-icon($side, $color)
  width: $side
  height: $side
  display: block
  i
    width: 100%
    display: block
    height: 3px
    margin-bottom: 6px
    background-color: yellow
  i:last-child
    margin-bottom: 0
  &:hover
    i
      background-color: white

+keyframes(fadein)
  0%
    opacity: 0
  100%
    opacity: 1

+keyframes(showup)
  0%
    +opacity(0)
    +transform(translate(0, 100px) )
  100%
    +opacity(1)
    +transform(translate(0, 0) )
