
.page-title
  position: fixed
  font-size: 1.5em
  line-height: 1.3
  top: $m*2
  left: $m*5
  text-transform: uppercase
  display: inline
  background: #111
  color: white
  padding: 0 $m/2
  z-index: 100
