// Project item page

@import clearfix
@import compass/css3/box-shadow
@import compass/css3/border-radius

.project-left
  +breakpoint('sm')
    position: fixed
    display: inline-block
    width: 50vw
    left: 0
    top: 0
    max-height: 100vh
    overflow-y: auto
    padding: $m*7 $m $m
  +breakpoint('xl')
    padding: $m*7 $m*3 $m

.project-right
  +breakpoint('sm')
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAD0lEQVQImWNgQAX/yeAAAIHCA/0RE2WAAAAAAElFTkSuQmCC) repeat #202020
    display: inline-block
    width: 50vw
    min-height: 100vh
    position: absolute
    right: 0
    top: 0

.project__meta
  padding: $m 0
  margin-top: $m*2
  border-top: 4px solid $color_text
  font-size: .9em
  text-transform: uppercase
  +clearfix
  +links_nocolors
  a
    border-bottom: 1px dotted yellow
    margin-right: $m/2
    +h(5)
    &::after
      content: " [↗] "
      color: #aaa
      font-size: .8em
    &:hover
      border-bottom: 2px solid $color_text
  p
    margin-bottom: $m/3

.project__summary
  +h(4)
  margin: $m 0
  +breakpoint('lg')
    max-width: 66%
    margin-top: 0

.project__body
  margin: $m*2 0
  +breakpoint('lg')
    column-count: 2

.project__summary p
  display: inline
  background: yellow
  line-height: 1.4

.project__edit-link
  position: absolute
  padding: $m*2
  top: $m
  right: -$m
  +breakpoint('sm')
    top: 0
    right: 0
  +links_nocolors
  text-transform: uppercase
  +h(5)

.project__image
  +animation(fadein 1s 1)

.project__image-caption
  color: white
  font-size: .75em
  padding-left: $m

.project__related-title
  margin: $m 0 $m/3 !important
  text-decoration: underline

.project__related
  text-transform: uppercase
  +links_nocolors
  img
    max-width: 50px
    +border-radius(50%)
  img, h5
    vertical-align: middle
    display: inline-block
  h5
    margin-left: $m/2

.project__links
  text-transform: uppercase
  +links_nocolors
  font-size: .9em
  margin-bottom: $m/2
  a
    border-bottom: 1px dotted yellow
    margin-right: $m/2
    +h(5)
    &::after
      content: " [↗] "
      color: #aaa
      font-size: .8em
    &:hover
      border-bottom: 2px solid $color_text
.project__links-title
  margin: 0 0 $m/2
  text-decoration: underline
