{# Site front page #} {% extends 'layouts/single-fluid-column.html' %} {% load static utils i18n imagekit %}

{% block body_classes %}project{% endblock %}
{% block html_title %}{{ object.name }} | {% endblock %}


{% block main %}
<div class="page-breadcrumb">
    <a href="/">Inicio</a> » <a href="{% url 'projects' %}">Proyectos</a> » <span class="no-link">{{ object.name }}</span>
</div>
{% include 'pages/title.html' with title=object.name %}
<div class="project-left">
    <div class="project__summary">
        <p>{{ object.summary }}</p>
    </div>
    {% if project.body %}
    <div class="project__body">
        {{ object.body | safe }}
    </div>
    {% endif %}
    {% if object.links.count %}
    <ul class="project__links">
        <h5 class="project__links-title">
            {% trans 'Enlaces' %}
        </h5>
        {% for link in object.links.all %}
        <li class="project__link">
            {{ link.name }}, <a href="{{ link.link }}" target="_blank">{{ link.link }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if object.related.count %}
    <div class="project__related">
        <h5 class="project__related-title">{% trans 'Proyectos relacionados' %}</h5>
        <ul class="project__related-list">
        {% for related_project in object.related.all %}
            <li>
                <a href="{% url 'project' related_project.slug %}">
                    {% thumbnail '100x100' related_project.images.first.image_file %}
                    <h5>{{ related_project.name }}</h5>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="project__meta">
        <p class="project__date">
            Año de finalización: {{ object.end_date | date:"Y" }}
        </p>
        <p class="project__category">
            Categoría principal: {{ object.get_category_display }}
        </p>
        {% if project.clients.count %}
        <p class="project__clients">
            <span>{% trans 'Clientes/Promotores' %}: </span>
            {% for client in project.clients.all %}
                <a href="{{ client.link }}" target="_blank"
                   title="{% trans 'Visitar la página de' %} {{ client.name }}">
                    {{ client.name }}
                </a>
            {% endfor %}
        </p>
        {% endif %}
        {% if project.collaborators.count %}
        <p class="project__colaboradores">
            <span>{% trans 'Colaboradores/coautores' %}: </span>
            {% for collaborator in project.collaborators.all %}
                <a href="{{ collaborator.link }}" target="_blank"
                   title="{% trans 'Visitar la página de' %} {{ collaborator.name }}">
                    {{ collaborator.name }}
                </a>
            {% endfor %}
        </p>
        {% endif %}
        {% if project.technology.count %}
        <p class="project__technologies">
            <span>{% trans 'Tecnologías' %}: </span>
            {% for tech in project.technology.all %}
                <a href="/" title="{% trans 'Ver proyectos hechos con esta tecnología">
                    {{ tech.name }}
                </a>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    {% if request.user.is_staff %}
    <p class="project__edit-link">
        <a href="{% url 'admin:models_project_change' object.pk %}">
          {% trans 'Edita' %}
        </a>
    </p>
    {% endif %}
</div>
<div class="project-right">
    {% for image in project.images.all %}
        <figure class="project__image">
            {% thumbnail '1000x' image.image_file %}
            <figcaption class="project__image-caption">
                ^ {{ image.alt_text }} {% if image.credits %}· {% trans 'Fuente:' %} {{ image.credits }}{% endif %}
            </figcaption>
        </figure>
    {% endfor %}
</div>
{% endblock %}
