// Landing text

.landing-text
  position: fixed
  width: 480px
  font-size: 1.5em
  line-height: 1.3
  top: 0
  left: $m*5
  text-transform: uppercase
  mix-blend-mode: multiply
  p
    display: inline
    background: #222
    color: white
    padding: 0 $m/2
